In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('/content/Advertising.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   TV          200 non-null    float64
 2   Radio       200 non-null    float64
 3   Newspaper   200 non-null    float64
 4   Sales       200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

In [ ]:
df.head(5)

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [ ]:
X = df.drop(['Sales','Unnamed: 0'],axis =1,inplace = False)
y = df['Sales']

In [ ]:
print(y)

0      22.1
1      10.4
2       9.3
3      18.5
4      12.9
       ...
195     7.6
196     9.7
197    12.8
198    25.5
199    13.4
Name: Sales, Length: 200, dtype: float64

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
print(y_train)

79     11.0
197    12.8
38     10.1
24      9.7
122    11.6
       ...
106     7.2
14     19.0
92     19.4
179    12.6
102    14.8
Name: Sales, Length: 160, dtype: float64

Linear Regression

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error , r2_score
import math

model = LinearRegression()

In [ ]:
model.fit(X_train, y_train)

LinearRegression()

In [ ]:
y_pred_l = model.predict(X_test)

In [ ]:
mse_l = mean_squared_error(y_test, y_pred_l)
rmse_l = math.sqrt(mse_l)

print(f"RMSE: {rmse_l}")

RMSE: 1.78159966153345

In [ ]:
r2 = r2_score(y_test, y_pred_l)
print(f"R^2 Score: {r2}")

R^2 Score: 0.899438024100912

Decision Tree Regression

In [ ]:
from sklearn.tree import DecisionTreeRegressor

d_model = DecisionTreeRegressor()
d_model.fit(X_train, y_train)

y_pred_d = d_model.predict(X_test)

In [ ]:
mse_d = mean_squared_error(y_test, y_pred_d)
rmse_d = math.sqrt(mse_d)

print(f"RMSE: {rmse_d}")

RMSE: 1.2639224659764539

In [ ]:
r2 = r2_score(y_test, y_pred_d)
print(f"R^2 Score: {r2}")

R^2 Score: 0.9493878924987748